<link rel="stylesheet" href="<%= assetPath('css/header.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">
<body>
        <%- include('_header'); %>

        <!-- <% if(flash.success && flash.success.length > 0) { %> 
            <h5> 
                <%= flash.success %>
            </h5>
        <% } %> -->
        <main id="layout-main">
            <div">
              <%- body %>
            </div>
        </main>


        <%- include('_footer'); %>
    </body>
        
<p style="color: blueviolet; background-color: lightcyan; height: 30%; width: 100%; text-align: center; ">
        Sociobuzz is a social media website 
        <br>
        <br>
        Its time to connect with people acroos the world
        <br>
        <br>
        Here you can make friends,chat with them,update your profile ,share posts and add comments as well
        <br>
        <br>
        <br>
        <br>
        So keep exploring ;)
</p>
